<script id="latest-news-template" type="text/html">
<div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                
                <h1 class="username">{{title}}</h1>
                
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
              
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              <p>{{content}}</p>

        

              <!-- Attachment -->
              
              <!-- /.attachment-block -->

              <!-- Social sharing buttons -->
              
            </div>
            <!-- /.box-body -->
            <div class="box-footer box-comments">
              
              
            </div>
          
          </div>	
 
</script>